h2 {
  color: #ffa511;
  font-family: League system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 55px;
  font-weight: 900;
  letter-spacing: 2px;

  text-decoration: teal double underline;

  line-height: 1.5;
  text-transform: uppercase;
}
